<!doctype html>
<lhtml>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 {# Bootstrap4を使う #}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <title>Alcohol-result-alert</title>
</head>
<body>
  <h1>YOU CAN'T DRIVE!!!!!!</h1>
  <p>
  <h2>下記サイトでは運転代行サービスを検索できます</h2>
  <p>
  <p>
   <iframe src="https://daikonavi.com" width="1400" height="600"></iframe>
  </p>>
</body>
</lhtml>