<!doctype html>
<lhtml>
<head>
 <meta charset="utf-8" />
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <meta http-equiv="Refresh" content="1.5">
 {# Bootstrap4を使う #}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
 <title>Alcohol-result</title>
</head>
<body>
  <h1>現在のアルコール値：{{ result }}</h1>
  <p>
  <h1>YOU CAN DRIVE!</h1>
  <p>
  <p>
  <h2>目安</h2>
  <p>
  <p>
   常時計測値が<〜500>:アルコール無し
  </p>
  <p>
   一回でも計測値が<500〜>:アルコール有り
  </p>
</body>
</lhtml>
